<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <h4 class="card-header mb-0">Dr. {{ medecin.firstname }} {{ medecin.lastname }}</h4>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="mb-1"><strong>Spécialité :</strong> {{ medecin.specialty }}</li>
              <li class="mb-1"><strong>Expérience :</strong> {{ medecin.experience }} an(s)</li>
              <li class="mb-1"><strong>Service :</strong> {{ medecin.service }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>